.appoint-btn {
  background-color: #09e5ab;
  margin: 20px;
  padding: 8px 18%;
  text-align: center;
  text-transform: uppercase;
  color: black;
  border-radius: 4px;
  border: none;
}

.appoint-btn:hover {
  color: #fff;
  text-decoration: none;
}
.appointment_form_box {
  font-family: "Poppins";
}
