.info-card {
  padding: 0 5px;
  color: #fff;
}
.primary {
  background-color: #1cc7c1;
}
.dark {
  background-color: #3a4256;
}
.font-icon {
  padding: 20px;
}
.info-icon {
  font-size: 3em;
}
.info-container {
  height: 140px;
  /* padding: 20px; */
}
