.test_wrapper {
  background-image: url(../../../images/quote.png);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 150px;
  margin: 50px;
  width: 70%;
  margin: 50px auto;
  font-family: "Poppins";
}
.section-header {
}
